/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #dbb0b0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #dbb0b0;
  color: white;
  padding: 15px;
}
 
 
 @media only screen and (max-width: 767px) {
  /* phone*/
  .navbar-brand {
    font-size: 18px; 
  }
  .sidenav {
    padding-top: 10px; 
  }
}

/* desktops */
@media only screen and (min-width: 768px) {
  
  .navbar-brand {
    font-size: 24px; 
  }
}
  
