 /* phone & desktop*/
 @media only screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .content {
      padding-top: 20px; /* Adjust as needed */
    }
    table {
      overflow-x: auto;
    }
  }